{% extends 'base.html' %}

{% block subtitulo %}

    <h1 class="mt-4">{{ publicacion.titulo }}</h1>
    <p class="lead"> por <b><a href="{% url 'ver-usuario' publicacion.publicador.pk %}"><i class="fas fa-user-circle"></i> {{ publicacion.publicador.username }}</a></b></p>

    {% if user.is_staff %}
      <a href="{% url 'modificar-publicacion' publicacion.pk %}" class="btn btn-warning"> <i class="fas fa-edit"></i> Modificar publicación</a>

      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#borrar-publicacion">
        <i class="fas fa-trash-alt"></i> Borrar publicación
      </button>
      <div class="modal fade" id="borrar-publicacion">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><i class="fas fa-trash-alt"></i> Borrar publicación</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              ¿Seguro que quieres borrar esta publicación?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
              <a href="{% url 'borrar-publicacion' publicacion.pk %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Borrar publicación</a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <hr>
{% endblock %}

{% block contenido %}

    <p>Publicado el {{ publicacion.fecha }}</p>
    <hr>
    <img class="card-img-top" src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}" height="500" width="900">
    <hr>
    <p>{{ publicacion.contenido }}</p>
    <p class=mb-4">
      Categorías:
      {% for categoria in publicacion.categorias.all %}
          <a href="{% url 'ver-categoria' categoria.pk %}"><button type="button" class="btn btn-secondary"><i class="fas fa-tag"></i> {{ categoria.nombre }}</button></a>
      {% endfor %}
    </p>
    <hr>

    {% if user.is_authenticated %}
      {% include 'mensajes.html' %}
      <div class="card my-4">
        <h5 class="card-header">Publicar un comentario:</h5>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit" class="btn btn-primary"><i class="fas fa-share-square"></i> Enviar</button>
          </form>
        </div>
      </div>
    {% else %}
      <h4>Inicia sesión para poder publicar comentarios</h4>
      <a href="{% url 'iniciar-sesion' %}" class="btn btn-primary"> <i class="fas fa-sign-in-alt"></i> Iniciar sesión</a>
      <br>
      <br>
    {% endif %}

    <h3>Comentarios ({{ comentarios.count }}):</h3>

    {% if comentarios.count != 0 %}
        {% for comentario in comentarios %}

            {% if user.is_staff %}
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#borrar-comentario">
                <i class="fas fa-trash-alt"></i> Borrar comentario
              </button>
              <div class="modal fade" id="borrar-comentario">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title"><i class="fas fa-trash-alt"></i> Borrar comentario</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      ¿Seguro que quieres borrar este comentario?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
                      <a href="{% url 'borrar-comentario' comentario.pk %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Borrar comentario</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}

            <div class="media mb-4">
              <div class="media-body">
                <h5 class="mt-0"><a href="{% url 'ver-usuario' comentario.publicador.pk %}"><i class="fas fa-user-circle"></i> {{ comentario.publicador.username }}</a></h5>
                <p>{{ comentario.fecha }}</p>
                <p>{{ comentario.contenido }}</p>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info">Esta publicación no tiene ningún comentario actualmente</div>
    {% endif %}
{% endblock %}
