{% extends 'base.html' %}

{% block subtitulo %}
    <h1 class="my-4"><i class="fas fa-tags"></i> Modificar categoría</h1>
{% endblock %}

{% block contenido %}

    {% include 'mensajes.html' %}

    <div class="card my-4">
      <h5 class="card-header">Categoría:</h5>
      <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit" class="btn btn-warning"><i class="fas fa-edit"></i> Modificar</button>
        </form>
      </div>
    </div>
{% endblock %}
